<div class="container">
	<div class="page-header">
		<h1>Food Providers
			<small>Find somewhere to eat</small>
		</h1>
	</div>

	<div class="row">
		<aside class="col-lg-3" id="sidebar" role="navigation">
			<div class="well">
				<div>
					<input type="text" class="form-control" ng-model="query" />
				</div>
				<ul>
					<li>Type</li>
					<li><input type="checkbox" ng-model="characteristics.all" ng-value="true" /> <a href="#">All ({{fps.length}})</a></li>
					<li><input type="checkbox" ng-model="characteristics.Italian"/> <a href="#">Italian ({{(fps|filter:"Italian").length}})</a></li>
					<li>Distance</li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li>Price</li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
				</ul>
			</div>
			<!--/.well -->
		</aside>

		<section class="col-lg-9">
			<article ng-repeat="fp in fps | typeFilter:characteristics">
				<h4><a href="#">{{fp.name}}</a></h4>

				<p>{{fp.description}}</p>
			</article>
		</section>
	</div>
</div>
