<div class="container">
	<div class="page-header" ng-switch="fp._id">
		<h1 ng-switch-when="undefined">Create a new restaurant
			<small>Choose your meal</small>
		</h1>
		<h1 ng-switch-default>Edit Restaurant settings
			<small>Choose your meal</small>
		</h1>
	</div>
	
	<div>
		<ul>
			<li>{{fp.name}}</li>
			<li>{{fp.address.number}} {{fp.address.street}}, {{fp.address.postalCode}} {{fp.address.city}}</li>
			<li>{{fp.phone}}</li>
			<li>{{fp.email}}</li>
			<li>{{fp.description}}</li>
			<li>{{fp.tags}}</li>
		</ul>
	</div>
</div>
