<div class="container">
	<div class="page-header">
		<h1>Food Providers
			<small>Find somewhere to eat</small>
		</h1>
	</div>

	<div class="row">
		<aside class="col-lg-3" id="sidebar" role="navigation">
			<div class="well">
				<h5>Search</h5>

				<div>
					<form ng-submit="search()">
						<input type="search" class="form-control" ng-model="request" placeholder="Search" />
					</form>
				</div>
				<h5>Address</h5>

				<div>
					<form ng-submit="searchAddress()">
						<input type="search" class="form-control" ng-model="address" placeholder="Address" />
					</form>
				</div>
				<ul class="side-nav">
					<li class="header">Type</li>
					<li><input type="checkbox" ng-model="types.all" ng-init="types.all = true" />
						<a href="#">All ({{fps.length}})</a></li>
					<li ng-repeat="tag in allTags.tags | tableSort"><input type="checkbox" ng-model="types[tag]" />
						<a href="#">{{tag}} ({{(fps|filter:tag).length}})</a></li>
				</ul>
			</div>
			<!--/.well -->
		</aside>

		<section class="col-lg-9">
			<p ng-show="fps.length==0">No results</p>
			<article ng-repeat="fp in fps | filter:query | typeFilter:types">
				<h4><a href="#/providers/{{fp._id}}">{{fp.name}}</a></h4>

				<p>{{fp.description}}</p>
			</article>
		</section>
	</div>
</div>
