<div class="container">
	<div class="page-header" ng-switch="fp._id">
		<h1 ng-switch-when="undefined">Create a new restaurant
			<small>Choose your meal</small>
		</h1>
		<h1 ng-switch-default>Edit Restaurant settings
			<small>Choose your meal</small>
		</h1>
	</div>

	<div>
		<form name="provider_form" class="form-horizontal" role="form" ng-submit="submitInfo()" ng-init="fp.ownerId=user._id" novalidate>
			<div class="col-lg-offset-2 col-lg-10 text-danger" ng-show="provider_form.name.$dirty && provider_form.name.$invalid">
				<small ng-show="provider_form.name.$error.required">
					The name is required.
				</small>
				<small ng-show="provider_form.name.$error.minlength">
					The name must be at least 3 characters.
				</small>
				<small ng-show="provider_form.name.$error.maxlength">
					The name cannot be longer than 20 characters.
				</small>
			</div>
			<div class="col-lg-offset-2 col-lg-10 text-danger" ng-show="errors.name">
				<small>
					{{errors.name}}
				</small>
			</div>
			<div class="form-group">
				<label for="name" class="col-lg-2 control-label">Name</label>

				<div class="col-lg-8">
					<input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-model="fp.name" ng-minlength=3 ng-maxlength=20 required>
				</div>
			</div>

			<div class="col-lg-offset-2 col-lg-10 text-danger" ng-show="provider_form.address.$dirty && provider_form.address.$invalid">
				<small ng-show="provider_form.address.$error.required">
					The address is required.
				</small>
				<small ng-show="provider_form.address.$error.minlength">
					The address must be at least 3 characters.
				</small>
				<small ng-show="provider_form.address.$error.maxlength">
					The address cannot be longer than 20 characters.
				</small>
			</div>
			<div class="col-lg-offset-2 col-lg-10 text-danger" ng-show="errors.street">
				<small>
					{{errors.street}}
				</small>
			</div>
			<div class="form-group">
				<label for="address" class="col-lg-2 control-label">Street Address</label>

				<div class="col-lg-8">
					<input type="text" name="address" class="form-control" id="address" placeholder="W 123 Street" ng-model="fp.address.street" ng-minlength=3 ng-maxlength=20 required>
				</div>
			</div>

			<div class="col-lg-offset-2 col-lg-10 text-danger" ng-show="provider_form.zipcode.$dirty && provider_form.zipcode.$invalid">
				<small ng-show="provider_form.zipcode.$error.required">
					The zipcode is required.
				</small>
				<small ng-show="provider_form.zipcode.$error.minlength">
					The zipcode must be at least 3 characters.
				</small>
				<small ng-show="provider_form.zipcode.$error.maxlength">
					The zipcode cannot be longer than 20 characters.
				</small>
			</div>
			<div class="col-lg-offset-2 col-lg-10 text-danger" ng-show="errors.postalCode">
				<small>
					{{errors.postalCode}}
				</small>
			</div>
			<div class="form-group">
				<label for="zipcode" class="col-lg-2 control-label">Zip Code</label>

				<div class="col-lg-8">
					<input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="Zipcode" ng-model="fp.address.postalCode" ng-minlength=3 ng-maxlength=10 required>
				</div>
			</div>

			<div class="col-lg-offset-2 col-lg-10 text-danger" ng-show="provider_form.city.$dirty && provider_form.city.$invalid">
				<small ng-show="provider_form.city.$error.required">
					The city is required.
				</small>
				<small ng-show="provider_form.city.$error.minlength">
					The city must be at least 3 characters.
				</small>
				<small ng-show="provider_form.city.$error.maxlength">
					The city cannot be longer than 20 characters.
				</small>
			</div>
			<div class="col-lg-offset-2 col-lg-10 text-danger" ng-show="errors.city">
				<small>
					{{errors.city}}
				</small>
			</div>
			<div class="form-group">
				<label for="city" class="col-lg-2 control-label">City</label>

				<div class="col-lg-8">
					<input type="text" class="form-control" id="city" name="city" placeholder="City" ng-model="fp.address.city" ng-minlength=3 ng-maxlength=20 required>
				</div>
			</div>

			<div class="col-lg-offset-2 col-lg-10 text-danger" ng-show="provider_form.phone.$dirty && provider_form.phone.$invalid">
				<small ng-show="provider_form.phone.$error.required">
					The phone number is required.
				</small>
				<small ng-show="provider_form.phone.$error.minlength">
					The phone number must be at least 3 characters.
				</small>
				<small ng-show="provider_form.phone.$error.maxlength">
					The phone number cannot be longer than 20 characters.
				</small>
			</div>
			<div class="col-lg-offset-2 col-lg-10 text-danger" ng-show="errors.phone">
				<small>
					{{errors.phone}}
				</small>
			</div>
			<div class="form-group">
				<label for="phone" class="col-lg-2 control-label">Phone Number</label>

				<div class="col-lg-8">
					<input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" ng-model="fp.phone" ng-minlength=3 ng-maxlength=20 required>
				</div>
			</div>

			<div class="col-lg-offset-2 col-lg-10 text-danger" ng-show="provider_form.email.$dirty && provider_form.email.$invalid">
				<small ng-show="provider_form.email.$error.required">
					The email is required.
				</small>
				<small ng-show="provider_form.email.$error.email">
					This is not a valid email.
				</small>
				<small ng-show="provider_form.email.$error.minlength">
					The email must be at least 3 characters.
				</small>
				<small ng-show="provider_form.email.$error.maxlength">
					The email cannot be longer than 20 characters.
				</small>
			</div>
			<div class="col-lg-offset-2 col-lg-10 text-danger" ng-show="errors.email">
				<small>
					{{errors.email}}
				</small>
			</div>
			<div class="form-group">
				<label for="email" class="col-lg-2 control-label">Email</label>

				<div class="col-lg-8">
					<input type="email" class="form-control" id="email" name="email" placeholder="Email" ng-model="fp.email" ng-minlength=3 ng-maxlength=20 required>
				</div>
			</div>

			<div class="col-lg-offset-2 col-lg-10 text-danger" ng-show="provider_form.description.$dirty && provider_form.description.$invalid">
				<small ng-show="provider_form.description.$error.required">
					The description is required.
				</small>
				<small ng-show="provider_form.description.$error.minlength">
					The description must be at least 4 characters.
				</small>
				<small ng-show="provider_form.description.$error.maxlength">
					The description cannot be longer than 250 characters.
				</small>
			</div>
			<div class="col-lg-offset-2 col-lg-10 text-danger" ng-show="errors.description">
				<small>
					{{errors.description}}
				</small>
			</div>
			<div class="form-group">
				<label for="description" class="col-lg-2 control-label">Description</label>

				<div class="col-lg-8">
					<textarea type="text" class="form-control" id="description" name="description" placeholder="Description" ng-model="fp.description" ng-minlength=5 ng-maxlength=250 required></textarea>
				</div>
			</div>

			<div class="form-group">

				<label for="tags" class="col-lg-2 control-label">Tags</label>

				<div class="col-lg-10">

					<div class="col-lg-2" id="tags" ng-repeat="tag in allTags.tags">
						<label class="control-label">{{tag}}</label>
						<input type="checkbox" ng-model="tags[tag]"/>
					</div>

				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<button type="submit" class="btn btn-primary" ng-disabled="provider_form.$invalid">Submit</button>
				</div>
			</div>
		</form>

	</div>
</div>
