<div class="container">
	<div class="page-header">
		<h1>{{fp.name}}
			<small ng-repeat="tag in fp.tags">{{fp.tags.join(', ')}} </small>
		</h1>
	</div>
	
	<div>
		<ul>
			<li>{{fp.address.street}}, {{fp.address.postalCode}} {{fp.address.city}}</li>
			<li>{{fp.phone}}</li>
			<li>{{fp.email}}</li>
			<li>{{fp.description}}</li>
		</ul>

		<a class="btn btn-primary" href="#/providers/{{fp._id}}/order">Order</a>

		<section class="row">
			<div class="col-lg-2" ng-repeat="meal in menu.meals">
				<ul>
					<li>{{meal.name}}</li>
					<li>{{meal.description}}</li>
					<li>{{meal.price}}</li>
				</ul>
			</div>
		</section>
	</div>
</div>
