<div class="container">
	<div class="page-header" ng-switch="fp._id">
		<h1 ng-switch-when="undefined">Create a new restaurant
			<small>Choose your meal</small>
		</h1>
		<h1 ng-switch-default>Edit Restaurant settings
			<small>Choose your meal</small>
		</h1>
	</div>

	<div>
		<form class="form-horizontal" role="form" ng-submit="submitInfo()" ng-init="fp.ownerId=user._id">
			<div class="form-group">
				<label for="name" class="col-lg-2 control-label">Name</label>

				<div class="col-lg-8">
					<input type="text" class="form-control" id="name" placeholder="Name" ng-model="fp.name">
				</div>
			</div>
			<div class="form-group">
				<label for="address" class="col-lg-2 control-label">Street Address</label>

				<div class="col-lg-8">
					<input type="text" class="form-control" id="address" placeholder="W 123 Street" ng-model="fp.address.street">
				</div>
			</div>

			<div class="form-group">
				<label for="zipcode" class="col-lg-2 control-label">Zip Code</label>

				<div class="col-lg-8">
					<input type="text" class="form-control" id="zipcode" placeholder="Zipcode" ng-model="fp.address.postalCode">
				</div>
			</div>

			<div class="form-group">
				<label for="city" class="col-lg-2 control-label">City</label>

				<div class="col-lg-8">
					<input type="text" class="form-control" id="city" placeholder="City" ng-model="fp.address.city">
				</div>
			</div>

			<div class="form-group">
				<label for="phone" class="col-lg-2 control-label">Phone Number</label>

				<div class="col-lg-8">
					<input type="text" class="form-control" id="phone" placeholder="Phone" ng-model="fp.phone">
				</div>
			</div>

			<div class="form-group">
				<label for="email" class="col-lg-2 control-label">Email</label>

				<div class="col-lg-8">
					<input type="text" class="form-control" id="email" placeholder="Email" ng-model="fp.email">
				</div>
			</div>

			<div class="form-group">
				<label for="description" class="col-lg-2 control-label">Description</label>

				<div class="col-lg-8">
					<textarea type="text" class="form-control" id="description" placeholder="Description" ng-model="fp.description"></textarea>
				</div>
			</div>

			<div class="form-group">

				<label for="description" class="col-lg-2 control-label">Tags</label>

				<div class="col-lg-10">

					<div class="col-lg-2" ng-repeat="tag in allTags.tags">
						<label class="control-label">{{tag}}</label>
						<input type="checkbox" ng-model="tags[tag]"/>
					</div>

				</div>
			</div>


			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</div>
		</form>

	</div>
</div>
