<div class="container">
	<div class="page-header">
		<h1>{{fp.name}}
			<small ng-repeat="tag in fp.tags">{{fp.tags.join(', ')}}</small>
		</h1>
	</div>

	<div class="row">
		<aside class="col-lg-2">
			<section>
				<h4>Info</h4>

				<p>
					Address: {{fp.address.street}}, {{fp.address.postalCode}} {{fp.address.city}}<br />
					Phone number: {{fp.phone}}<br />
					Email address: {{fp.email}}
				</p>

				<h4>Customer Ratings</h4>
				<div rating rating-value="averageRating" readonly="true"></div> {{fp.comments.length}} Ratings
			</section>
			<a class="btn btn-primary" href="#/providers/{{fp._id}}/order">Order</a>
		</aside>
		<div class="col-lg-10">

			<section>
				<h4>Description</h4>

				<p>{{fp.description}}</p>

			</section>

			<section>
				<h4>Menu</h4>

				<table class="col-lg-12 table menu" ng-init="predicate='name'">
					<thead>
					<tr>
						<td class="col-lg-2 text-center"><a href="" ng-click="predicate='name'">Name</a></td>
						<td class="col-lg-9 text-center">Description</td>
						<td class="col-lg-1 text-center"><a href="" ng-click="predicate='price'">Price</a></td>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="menuItem in menu.meals | orderBy:predicate:reverse">
						<td><strong>{{menuItem.name}}</strong></td>
						<td class="text-muted"><em>{{menuItem.description}}</em></td>
						<td class="text-center">{{menuItem.price | number:2}} €</td>
					</tr>
					</tbody>
				</table>
			</section>

			<section class="comments">
				<h4>Customer Review</h4>
				<article class="comment" ng-repeat="comment in fp.comments">
					<strong>{{users[comment.userId].email}}</strong>

					<div rating readonly="true" rating-value="comment.rate"></div>
					<p>{{comment.text}}</p></article>
			</section>

			<section ng-switch="logged">
				<h4>Write a Review</h4>
				<form ng-switch-when="true" name="comment_form" class="form-horizontal" role="form" ng-submit="submitComment()" novalidate>

					<div class="col-lg-offset-2 col-lg-10 text-danger" ng-show="comment_form.comment.$dirty && comment_form.comment.$invalid">
						<small ng-show="comment_form.comment.$error.required">
							The comment is required.
						</small>
						<small ng-show="comment_form.comment.$error.minlength">
							The comment must be at least 2 characters.
						</small>
						<small ng-show="comment_form.comment.$error.maxlength">
							The comment cannot be longer than 250 characters.
						</small>
					</div>
					<div class="col-lg-offset-2 col-lg-10 text-danger" ng-show="errors.text">
						<small>
							{{errors.text}}
						</small>
					</div>
					<div class="form-group">
						<label for="inputComment" class="col-lg-2 control-label">Comment</label>

						<div class="col-lg-10">
							<textarea class="form-control" id="inputComment" name="comment" rows="3" placeholder="Type your comment" ng-model="newComment.text" ng-minlength=2 ng-maxlength=250 required></textarea>
						</div>
					</div>

					<div class="form-group">
						<label for="inputRate" class="col-lg-2 control-label">Rating</label>

						<div class="col-lg-10" id="inputRate" rating rating-value="newComment.rate  "></div>
					</div>

					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-10">
							<button type="submit" class="btn btn-primary" ng-disabled="comment_form.$invalid">Submit</button>
						</div>
					</div>
				</form>
				<div ng-switch-default>
					<p>You need to be sign in to post a review.</p>
					<a data-toggle="modal" href="#authenticationModal" class="btn btn-primary">Sign in</a>
					<a href="#/signup">Sign up</a>
				</div>
			</section>

		</div>

	</div>
</div>
