<div class="container">
	<div class="page-header">
		<h1>Geolocalisation
			<small>Find your coordinates</small>
		</h1>
	</div>
	<div id="pageContent">
		<form name="geo_form" class="form-horizontal" role="form" ng-submit="getCoordinates()" novalidate>
			<div class="form-group">
				<label for="inputAddress" class="col-lg-2 control-label">Address</label>

				<div class="col-lg-10">
					<input name="mail" type="text" class="form-control" id="inputAddress" placeholder="Address" ng-model="address.address">
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-4">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
		{{coordinates.latitude}} - {{coordinates.longitude}}
	</div>
</div>
