<!-- Jumbotron -->
<div class="jumbotron hero">
	<div class="container">
		<h1>Get ready to order!</h1>

		<p>Find restaurant around you</p>

		<form role="form" name="search_form" ng-submit="search()">
			<input type="search" id="inputSearch" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-model=request placeholder="Any idea ?">
		</form>

		<p>- or -</p>

		<a href="" class="btn btn-primary" ng-click="near()">Find Nearest Restaurants</a>

	</div>
</div>

<!-- Page Content -->
<div class="container">

</div>
