<!-- Jumbotron -->
<div class="jumbotron hero">
	<div class="container">
				<h1>Get ready to order!</h1>

				<p>Find restaurant around you</p>

				<form role="form" class="form-horizontal" name="search_form" ng-submit="search('request')">
					<div class="row">
						<input class="col-lg-11" type="search" ng-model=request placeholder="Any idea ?">
						<button type="submit" class="col-lg-1"><i class="glyphicon glyphicon-search"></i></button>
					</div>
				</form>

				<p>- or -</p>

				<a href="" class="btn btn-primary" ng-click="search('location')">Find Nearest Restaurants</a>

	</div>
</div>

<!-- Page Content -->
<div class="container">

</div>
