<div class="container">
	<div class="page-header" ng-switch="fp._id">
		<h1 ng-switch-when="undefined">Create a new restaurant
			<small>Choose your meal</small>
		</h1>
		<h1 ng-switch-default>Edit Restaurant settings
			<small>Choose your meal</small>
		</h1>
	</div>

	<div class="row">
		<form class="col-lg-12 form-horizontal" role="form" ng-submit="submitMenu()">
			<a ng-click="addMenuItem()">add</a>

			<div class="menuItem" ng-repeat="menuItem in menu.meals">
				<h4 class="title">Item {{$index+1}}
					<small><a ng-click="deleteMenuItem($index)"><span class="glyphicon glyphicon-trash"></span></a>
					</small>
				</h4>
				<div class="form-group">
					<label for="menuItemName{{$index}}" class="col-lg-3 control-label">Name</label>

					<div class="col-lg-9">
						<input type="text" class="form-control" id="menuItemName{{$index}}" placeholder="Name" ng-model="menuItem.name">
					</div>
				</div>

				<div class="form-group">
					<label for="price{{$index}}" class="col-lg-3 control-label">Price</label>

					<div class="col-lg-9">
						<input type="text" class="form-control" id="price{{$index}}" placeholder="Price" ng-model="menuItem.price">
					</div>
				</div>

				<div class="form-group">
					<label for="menuItemDescription{{$index}}" class="col-lg-3 control-label">Description</label>

					<div class="col-lg-9">
						<textarea type="text" class="form-control" id="menuItemDescription{{$index}}" placeholder="Description" ng-model="menuItem.description"></textarea>
					</div>
				</div>
			</div>

			<a ng-click="addMenuItem()">add</a>

			<div class="form-group">
				<div class="col-lg-offset-3 col-lg-9">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</div>
		</form>

	</div>
</div>
