<div class="container">
	<div class="page-header" ng-switch="fp._id">
		<h1 ng-switch-when="undefined">Create a new restaurant
			<small>Choose your meal</small>
		</h1>
		<h1 ng-switch-default>Edit Restaurant settings
			<small>Choose your meal</small>
		</h1>
	</div>

	<div class="row">
		<form class="col-lg-12 form-horizontal" name="menu_form" role="form" ng-submit="submitMenu()" novalidate>
			<p><a ng-click="addMenuItem()">add Item</a></p>

			<div class="menuItem" ng-repeat="menuItem in menu.meals">
				<h4 class="title">Item {{$index+1}}
					<small><a ng-click="deleteMenuItem($index)"><span class="glyphicon glyphicon-trash"></span></a>
					</small>
				</h4>

				<div class="col-lg-offset-3 col-lg-9 text-danger" ng-show="menu_form.name{{$index}}.$dirty && menu_form.name{{$index}}.$invalid">
					<small ng-show="menu_form.name{{$index}}.$error.required">
						The name is required.
					</small>
					<small ng-show="menu_form.name{{$index}}.$error.minlength">
						The name must be at least 3 characters.
					</small>
					<small ng-show="menu_form.name{{$index}}.$error.maxlength">
						The name cannot be longer than 20 characters.
					</small>
				</div>
				<div class="form-group">
					<label for="name{{$index}}" class="col-lg-3 control-label">Name</label>

					<div class="col-lg-9">
						<input type="text" class="form-control" name="name{{$index}}" id="name{{$index}}" placeholder="Name" ng-model="menuItem.name" ng-minlength=3 ng-maxlength=20 required>
					</div>
				</div>


				<div class="col-lg-offset-3 col-lg-9 text-danger" ng-show="menu_form.price{{$index}}.$dirty && menu_form.price{{$index}}.$invalid">
					<small ng-show="menu_form.price{{$index}}.$error.required">
						The price is required.
					</small>
					<small ng-show="menu_form.price{{$index}}.$error.minlength">
						The price must be at least 1 characters.
					</small>
					<small ng-show="menu_form.price{{$index}}.$error.maxlength">
						The price cannot be longer than 20 characters.
					</small>
				</div>
				<div class="form-group">
					<label for="price{{$index}}" class="col-lg-3 control-label">Price</label>

					<div class="col-lg-9">
						<input type="text" class="form-control" name="price{{$index}}" id="price{{$index}}" placeholder="Price" ng-model="menuItem.price" ng-minlength=1 ng-maxlength=20 required>
					</div>
				</div>

				<div class="col-lg-offset-3 col-lg-9 text-danger" ng-show="menu_form.description{{$index}}.$dirty && menu_form.description{{$index}}.$invalid">
					<small ng-show="menu_form.description{{$index}}.$error.required">
						The description is required.
					</small>
					<small ng-show="menu_form.description{{$index}}.$error.minlength">
						The description must be at least 5 characters.
					</small>
					<small ng-show="menu_form.description{{$index}}.$error.maxlength">
						The description cannot be longer than 200 characters.
					</small>
				</div>
				<div class="form-group">
					<label for="description{{$index}}" class="col-lg-3 control-label">Description</label>

					<div class="col-lg-9">
						<textarea type="text" class="form-control" id="description{{$index}}" placeholder="Description" ng-model="menuItem.description" ng-minlength=5 ng-maxlength=200 required></textarea>
					</div>
				</div>
			</div>

			<p><a ng-click="addMenuItem()">add Item</a></p>

			<div class="form-group">
				<div class="col-lg-offset-3 col-lg-9">
					<button type="submit" class="btn btn-primary" ng-disabled="menu_form.$invalid">Submit</button>
				</div>
			</div>
		</form>

	</div>
</div>
